@font-face {
    font-family: cotFont;
    src: url(../fonts/quicksand/Quicksand-Light.otf);
}

*{
	/*font-family: "Open Sans", Tahoma, Arial, sans-serif;*/
    font-family: cotFont,sans-serif;
}

body{
    background: url("../img/bannerCOT3.jpg") fixed;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.content-page{
    /*height: 100%;*/
    /*overflow: auto;*/
    background-color: rgba(0,0,0,0.5);
}

nav#header {
    margin-bottom: 0;
    padding: 10px 5px;
    border: 0;
    border-radius: 0;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: rgba(0,0,0,0.8);
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.icon-bar{
	background-color:#0A87BB;
}

#header.affix {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 5px 5px;
    box-shadow : 1px 2px 3px 0 #0A87BB;
    background-color: rgba(0,0,0,0.8);
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.navbar-header img {
    margin-top:-15px;
	height:50px;
	width:145px;
}

.navbar-nav li a {
    color: #0A87BB;
	font-weight:bold;
}

.navbar-nav li a:hover {
    color: #FFFFFF !important;
}

.navbar-nav li :hover {
    background-color: rgba(0,0,0,0.5) !important;
}

.navbar-toggle > .icon-bar {
	background-color:#A1C42A !important;
}

.jumbotron-v2{
    height: 100%;
    padding: 30px 30px;
    color: inherit;
    background-color: rgba(0,0,0,0);
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}
.jumbotron-v2 .content{
    background-color: rgba(0,0,0,0.5);
    margin-left: 25%;
    margin-right: 25%;
    padding: 35px;
}
.jumbotron-v2 p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.jumbotron-v2 > hr {
    border-top-color: #d5d5d5;
}
.container .jumbotron-v2 {
    border-radius: 6px;
}
.jumbotron-v2 .container {
    max-width: 100%;
}
@media screen and (min-width: 768px) {
    .jumbotron-v2 {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .container .jumbotron-v2 {
        padding-right: 60px;
        padding-left: 60px;
    }
    .jumbotron-v2 h1,
    .jumbotron-v2 .h1 {
        font-size: 50px;
        font-weight: bold;
    }
}

.carousel-caption {
	z-index: 10;
}

.carousel .item {
	height: 100%;
	background-color: #2d2d30;
}

.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
}

.jumbotron-v2 .btn{
	font-weight:bold;
    background-color: #0A87BB;
	color:#ffffff;
	border:none;
}

.jumbotron-v2 .btn:hover{
	color: #0A87BB;
	background-color:#ffffff;
}

.jumbotron-v2 h1{
	color:#FFFFFF;
    font-weight: bold;
}

.jumbotron-v2 h3{
    color:#0A87BB;
}

.contain-page{
    background-color: #ffffff;
}

.featurette-divider {
  margin: 50px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: #0A87BB;
}

.row .img-circle{
	background-color: #A1C42A;
}

.lead{
	color: #2d2d30;
}

.submenu{
	background-color: rgba(10,135,187,0.8);
    padding: 20px 10px 5px 10px;
}

.submenu a{
	color: #2d2d30;
}

.submenu h4{
	color: #0A87BB;
}

.submenu a:hover{
	text-decoration:none;
	color: #0A87BB;
}

.footer{
	background-color: #0a2b3d;
	color:#f5f5f5;
	padding:5px 20px 5px 20px;
}

.text-bold{
    font-weight: bold;
}

@-webkit-keyframes ease-in {
    from {height: 70px;}
    to {height: 50px;}
}

@keyframes ease-in {
    from {height: 70px;}
    to {height: 50px;}
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes color-trans-fill {
    100% {background-color: rgba(0,0,0,0.9);}
}
@keyframes color-trans-zero {
    100% {background-color: rgba(0,0,0,0.75);}
}